<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="noticeboard">

	<resultMap type="noticeBoardVo" id="noticeBoardMap">
		<result property="notice_board_seq" column="NOTICE_BOARD_SEQ" />
		<result property="notice_board_member_id" column="NOTICE_BOARD_MEMBER_ID" />
		<result property="notice_board_title" column="NOTICE_BOARD_TITLE" />
		<result property="notice_board_content" column="NOTICE_BOARD_CONTENT" />
		<result property="notice_board_regdate" column="NOTICE_BOARD_REGDATE" />
	</resultMap>

	<select id="noticeBoardSelectList" resultType="noticeBoardVo">
		SELECT NOTICE_BOARD_SEQ, NOTICE_BOARD_MEMBER_ID, NOTICE_BOARD_TITLE, NOTICE_BOARD_CONTENT, NOTICE_BOARD_REGDATE
		FROM NOTICEBOARD
		ORDER BY NOTICE_BOARD_SEQ DESC
	</select>
	
	<select id="noticeBoardSelectOne" resultMap="noticeBoardMap">
		SELECT NOTICE_BOARD_SEQ, NOTICE_BOARD_MEMBER_ID, NOTICE_BOARD_TITLE, NOTICE_BOARD_CONTENT, NOTICE_BOARD_REGDATE
		FROM NOTICEBOARD
		WHERE NOTICE_BOARD_SEQ = #{notice_board_seq}
	</select>
	
	<insert id="noticeBoardInsert" parameterType="noticeBoardVo">
		INSERT INTO NOTICEBOARD
		VALUES(NOTICEBOARDSEQ.NEXTVAL, #{notice_board_member_id}, #{notice_board_title}, #{notice_board_content}, SYSDATE)
	</insert>
	
	<update id="noticeBoardUpdate" parameterType="noticeBoardVo">
		UPDATE NOTICEBOARD
		SET NOTICE_BOARD_TITLE = #{notice_board_title}, NOTICE_BOARD_CONTENT = #{notice_board_content}
		WHERE NOTICE_BOARD_SEQ = #{notice_board_seq}
	</update>
	
	<delete id="noticeBoardDelete" parameterType="int">
		DELETE FROM NOTICEBOARD
		WHERE NOTICE_BOARD_SEQ = #{notice_board_seq}
	</delete>
</mapper>
